<h1><%= @store.name %></h1>

 <div class="container">
  <br>
  <p>Address: <%= @store.address %></p>
  <br>
  <p>Phone: <%= @store.phone %></p>
  <br>
  <p>Description: <%= @store.description %></p>
  <br>
  <%= render 'card-benefit', store: @store %>
</div>

<%= link_to "Add a benefit", new_store_benefit_path(@store), class: "btn btn-primary" %>
<br>
<br>
  <% if policy(@store).edit? %>
    <%= link_to "Edit this store", edit_store_path(@store), class: "btn btn-primary" %>
  <% end %>
<br>
<br>
<p style="text-align: center">Unhappy?
  <% if policy(@store).destroy? %>
    <%= link_to "Remove this store", store_path(@store), data: { confirm: "Are you sure?" }, method: :delete %>
  <% end %>
</p>
