

<div class="container">
  <div class="info-box">

    <div class="picture-box">
      <%= cl_image_tag @store.picture, :height=>400, :width=>400, :crop=>"fill" %>
    </div>

    <div class="description-box">
      <h1 class="text-center"><%= @store.name %></h1>

      <p class="text-center"><i class="fas fa-map-marker-alt"></i> <%= @store.address %></p>

      <p class="text-center"><i class="fas fa-phone"></i>: <%= @store.phone %></p>

      <p class="text-center"><strong>About:</strong></p>

      <p class="text-center"><%= @store.description %></p>
    </div>

    <div class="benefit-box">
      <%= render 'card-benefit', store: @store %>
    </div>

     <div class="button-collection">
    <%= link_to "Add a benefit", new_store_benefit_path(@store), class: "btn btn-primary" %>
    <br>
    <br>
      <% if policy(@store).edit? %>
        <%= link_to "Edit this store", edit_store_path(@store), class: "btn btn-primary" %>
      <% end %>
    <br>
    <br>
      <% if policy(@store).destroy? %>
        <p style="text-align: center">Unhappy?
        <%= link_to "Remove this store", store_path(@store), data: { confirm: "Are you sure?" }, method: :delete %>
        </p>
      <% end %>
    </div>
  </div>
</div>




