<h1><%= @store.name %></h1>

 <div class="container">
    <br>
    <p>Address: <%= @store.address %></p>
    <br>
    <p>Phone: <%= @store.phone %></p>
    <br>
    <p>Description: <%= @store.description %></p>
</div>

<br>
<div class="text-center">
  <%= link_to "Update your store profile", edit_store_path, class: "btn btn-primary" %>
</div>
<br>
<p style="text-align: center">Unhappy? <%= link_to "Remove my store", store_path(:store), data: { confirm: "Are you sure?" }, method: :delete %></p>
