<h1><%= @store.name %></h1>

 <div class="container">
  <br>
  <p>Address: <%= @store.address %></p>
  <br>
  <p>Phone: <%= @store.phone %></p>
  <br>
  <p>Description: <%= @store.description %></p>
  <br>
  <% @benefits.each do |benefit| %>
    <div class="card-benefit">
      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"> -->
      <div class="card-benefit-infos">
        <h2><%= benefit.name %></h2>
        <p><%= benefit.description %></p>
      </div>
    </div>
  <% end %>
</div>

<br>
<div class="text-center">
  <%= link_to "Update your store profile", edit_store_path, class: "btn btn-primary" %>
</div>
<br>
<p style="text-align: center">Unhappy? <%= link_to "Remove my store", store_path(:store), data: { confirm: "Are you sure?" }, method: :delete %></p>
