<div class="container available_vouchers">
  <% vouchers_available = @vouchers.select {|voucher| voucher.status == "Not used"} %>
  <% if vouchers_available.empty? == false %>

    <% vouchers_available.each do |voucher| %>
    <div class = "voucher-card">
      <div class ="qr-container">
          <% qr = RQRCode::QRCode.new(voucher.key_qrcode, :size => 5, :level => :h ) %>
          <%= raw qr.as_html %>
      </div>
        <p><u><%= voucher.benefit.store.name %></u></p>
        <p><%= voucher.benefit.store.address %></p>
        <p><%= voucher.benefit.description %></p>

    <% end %>

    <% else %>
      <div class = "voucher-card">
        <p>You have no voucher available at the moment. Do you want to deposit plastic to one of our partner store and benefit from its reward?</p>
        <div class = text-center><%= link_to "Find a store collecting plastic", root_path, class: "btn btn-primary" %></div>
      </div>

  <% end %>
</div>
