<div class="container-mobile col-lg-4 col-sm-6 col-xs-12">

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url('<%= image_path "temp-background.jpg" %>');">
    <h3>Trade plastic litter</h3>
    <h3>for discounts</h3>
    <%= link_to 'How does it work?', '#how', class: 'btn btn-primary' %>
    <a href="#" class="btn btn-primary" id="my-location">Find a store</a>
  </div>



  <div class="main-content home", id="how">

    <ul class="unordered-list">

      <li class="left-list">
        <i class="fas fa-wine-bottle icon-list" style="color: #ED6A5A"></i> Disgusted with plastic litter?
      </li>

      <li class="left-list">
        <i class="fas fa-search icon-list" style="color: #F7B267"></i> Looking for a place to dispose plastic?
      </li>

      <li class="left-list">
        <i class="fas fa-recycle icon-list" style="color: #508991"></i> We help you recycle it!
      </li>

      <li class="left-list">
        <i class="fas fa-dollar-sign icon-list" style="color: #9AC4F8"></i> Earn discounts and other benefits!
      </li>

    </ul>

    <a href="#" class="btn btn-primary" id="my-location">Find a store</a>

  </div>

</div>

<!--       <%= simple_form_for(:search, url: results_path, method: :get, html: {id: "search_form", class: "search-box"}) do |f| %>
        <%= f.input :address, input_html: { class: 'address-auto' }, :label => "Search an address", html: {class: "search_input"} %>
        <div>
          <%= f.submit class: 'btn btn-primary search-button', value: "Search" %>
        </div>
      <% end %>
 -->


