
<div class="profile">

  <div class="col-lg-4 col-sm-6 col-xs-12">

    <h1> Welcome on your profile page <%=@user.name %>!</h1>
    <h3>Your available vouchers:</h3>
    <%= render 'vouchers-available', vouchers: @vouchers %>
    <%= render 'vouchers-used', vouchers: @vouchers %>

    <div class="container">
      <h3>Your collecting stores:</h3>
      <p>Thanks for your contribution, you are amazing! <i class="fas fa-heart"></i></p>
      <ul class="unordered-list">
      <% @stores.each do |store| %>
        <li><%= link_to store.name, store_path(store.id) %></li>
      <% end %>
      </ul>
    </div>

    <div class="text-center">
      <% if policy(Store).create? %>
        <%= link_to "Register your store", new_store_path, class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="text-center">
      <%= link_to "Edit your profile", root_path, class: "btn btn-primary" %>
    </div>
    <br>
    <div class = cancellation>
      <p>Plastic pollution has been eradicated from the world surface, I can quit this app!
        <br>
        <%= link_to "Cancel your account", user_registration_path(:user), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>

  </div>
</div>
