<button type="button" class="btn btn-primary map-button" data-toggle="modal" data-target="#exampleModal">
  Search
</button>

<div
  id="map"
  style="width: 100%;
  height: calc(100vh - 140px);"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(:search, url: results_path, method: :get, html: {id: "search_form"}) do |f| %>
        <div class="modal-body">
          <%= f.input :address, input_html: { class: 'address-auto' }, :label => "Find a store near a specific address", html: {class: "search_input"} %>
        </div>
        <div class="modal-footer">
          <div class="buttons">
            <%= f.submit class: 'btn btn-primary', value: "Search" %>
            <a href="#" class="btn btn-primary" id="my-location">Find near me</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
